
/* 置顶插件 */
.to-top {
    display: none;
    padding: 10px 20px;
    margin-right: 10px;
    color: #fff;
    border-radius: 10px;
    background-color: rgb(66, 185, 131);
}

:root {
    --base-font-size: 14px;
    --theme-hue: 325;
    --sidebar-nav-link-before-content: '😀';
}
